<div class="preRegister">

    <form action="#" method="post" name="preRegister">
        <label for="userName">Please Enter your chat name</label>
        <input type="text" name="userName" id="userName">
        <button type="submit">Enter chat...</button>
    </form>


</div>