<%- include('./partials/header'); %>
<script>
    ROOM_ID = "<%=chatID%>";
    userObject = {}
</script>

<div id="chatRoom">
    
    <div class="videoContainer"></div>
    <div class="chatContainer">
        <%- include('partials/preregister'); %>
        <div class="chatMessages hidden"></div>
        <input class="chatMessageInput hidden">
    </div>
</div>

<%- include('./partials/footer'); %>