:root{
    --darkblue: darkslateblue;
    --darkgrey: #333;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    min-height: 100vh;
}

#chatRoom{
    background-color:var(--darkblue);
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
}

#chatRoom > div{
    flex-grow: 1;
}

#chatRoom .chatContainer{
    width: 30%;
    background: var(--darkgrey);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.chatContainer .chatMessages {
    flex-grow: 1;
}
.chatContainer .chatMessageInput {
    flex-grow: 0;
} 
#chatRoom .videoContainer{
    display: flex;
    padding: 20px;
}

.videoContainer .cameraContainer{
    display: inline-flex;
    overflow: hidden;
}

.cameraContainer video{
    max-width: 100%
}

.hidden{
    display: none;
}

.preRegister{
    flex-grow: 1;
}